@import 'https://use.fontawesome.com/releases/v5.0.13/css/all.css';
@import './bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #747474;
  min-height: 100%;
  background: #F3F3F3;
}

#root {
  padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.input-group-text {
  background-color: #fff;
  color: #0090ff;
}

.form-control {
  background-color: #e9ecf1;
}

.form-control::placeholder {
  color: #8cc4ff;
}

.input-group>.input-group-append>.btn {
  text-transform: uppercase;
  background: #3066be;
  color: #fff;
}

.btn-link,
.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  text-decoration: none;
}

a {
  color: #6695c8;
}

a:hover {
  text-decoration: none;
}

.login-form {
  width: 100%;
  height: 70vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: absolute;
  width: 500px;
  left: 50%;
  margin-left: -250px;
}

.login-btn {
  background: url('../img/google-login.png') no-repeat center;
  background-size: contain;
  width: 382px;
  height: 92px;
  padding: 0;
  border: none;
}

.logout {
  float: right;
}

.post-input {
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-input * {
  border: none;
}

.post,
.user {
  background: #fff;
  padding: 10px 0;
  margin-bottom: 10px;
  transition: background-color .5s linear;
}

.post .author,
.post .text,
.post .author a,
.post .author span {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post .text {
  padding-right: 50px;
  align-items: flex-start;
  justify-content: space-between;
  word-break: break-all;
}

.post .body {
  font-size: 16px;
}

.post .date {
  font-size: 12px;
}

.photo {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.profile {
  display: flex;
  margin: 20px 0;
}

.profile .photo {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.profile .name {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 20px;
}

.profile .email {
  margin-top: 58px;
  margin-left: 10px;
  font-size: 12px;
}

.profile .posts-count {
  align-self: flex-end;
  margin-left: auto;
  color: #007bff;
}

.no-posts {
  margin-top: 200px;
  font-size: 100px;
  opacity: 0.2;
  user-select: none;
}

.go-back {
  font-size: 40px;
  position: absolute;
  top: 0;
}

.delete-post {
  right: -3px;
  top: -15px;
  position: absolute;
  font-size: 20px;
}

.reply-to-post {
  position: absolute;
  bottom: -15px;
  right: 0;
  font-size: 20px;
}

.replies {
  margin: 10px 30px;
}

.replies .post {
  border: 1px solid #f3f3f3;
}

.users-likes {
  position: absolute;
  background: white;
  border: 1px solid #dbdbdb;
  padding: 5px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.like:hover+.users-likes,
.users-likes:hover {
  visibility: visible;
  opacity: 1;
}

.users-likes .photo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.users-likes>li {
  padding: 5px;
  align-items: center;
  background: white;
  margin: 0 0 5px 0;
  width: 300px;
}

.users-likes>li:last-of-type {
  margin: 0;
}

.like,
.show-replies-btn {
  z-index: -1;
}

.reference-to-post {
  color: #007bff;
  cursor: pointer;
}

.highlight {
  background-color: #e1e8ed;
}
